<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



<bean id="add1" class="com.lvg.rj.spcdd.beans.Address">
<property  name="hno" value="1-2-3"/>
<property name ="streetName" value="Mgstreet"/>
<property name ="city" value="karnataka"/>
<property name ="state" value="bangalore"/>
</bean>

<bean id="per1" class= "com.lvg.rj.spcdd.beans.person">
<property  name="ssn" value="7686"/>
<property name ="name" value="ajay"/>
<property name ="age" value="35"/>
<property name ="Address" ref="add1"/>
</bean>

</beans>